<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div class="main">
			<div class="header"><input class="search" placeholder="Search here" /></div>
			<div class="app">
				<div class="stats">
					<div class="card">
						<h1 class="card-title"><span class="small-title">$</span><%= quote['05. price'] %></h1>
						<h2 class="card-subtitle">Price</h2>
					</div>
					<div class="card">
						<h1 class="card-title"><span class="small-title">$</span><%= quote['02. open'] %></h1>
						<h2 class="card-subtitle">Open</h2>
					</div>
					<div class="card">
						<h1 class="card-title"><span class="small-title">$</span><%= quote['03. high'] %></h1>
						<h2 class="card-subtitle">High</h2>
					</div>
					<div class="card">
						<h1 class="card-title"><span class="small-title">$</span><%= quote['04. low'] %></h1>
						<h2 class="card-subtitle">Low</h2>
					</div>
					<div class="card">
						<h1 class="card-title"><span class="small-title">$</span><%= quote['08. previous close'] %></h1>
						<h2 class="card-subtitle">Previous Close - <%= quote['07. latest trading day'] %></h2>
					</div>
				</div>
				<div class="panel">
					<div class="graph"><canvas id="myChart"></canvas></div>
					<div class="info">
						<div class="card">
							<h1 class="card-title"><%= info.Symbol %></h1>
							<div class="name-val">
								<div class="info-name">50 Day Moving Average</div>
								<div class="info-val">$<%= info['50DayMovingAverage'] %></div>
							</div>
							<div class="name-val">
								<div class="info-name">52 Week High</div>
								<div class="info-val">$<%= info['52WeekHigh'] %></div>
							</div>
							<div class="name-val">
								<div class="info-name">52 Week Low</div>
								<div class="info-val">$<%= info['52WeekLow'] %></div>
							</div>
							<div class="name-val">
								<div class="info-name">Analyst Target Price</div>
								<div class="info-val">$<%= info.AnalystTargetPrice %></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
		<script>
			let info = <%- JSON.stringify(info) %>;
			let data = <%- JSON.stringify(data) %>;
			let quote = <%- JSON.stringify(quote) %>;
			console.log(data);

			var ctx = document.getElementById("myChart").getContext("2d");
			var chart = new Chart(ctx, {
				type: "line",
				data: {
					datasets: [
						{
							data: data,
							borderColor: '#22A8EE',
							backgroundColor: 'rgba(34,168,238,0.1)',
							pointBorderColor: 'rgba(0,0,0,0)'
						},
					],
				},
				options: {
					scales: {
						xAxes: [
							{
								type: "time",
								position: "bottom",
								gridLines: {
									display: false
								}
							},
						],
						yAxes: [
							{
								gridLines: {
									display: true
								}
							}
						],
						ticks: {

						}
					},
					legend: {
						display: false
					}
				},

			});
		</script>
	</body>
</html>
